.card-container {
	display: flex;
	flex-direction: column;
	background-color: lightgreen;
	border: 1px solid black;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translate();
	transition: transform 0.25 ease-out;
}

.card-container.hover {
	transform: scale(1.05);
}
